{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'recipes/base.css' %}">
<link rel="stylesheet" href="{% static 'recipes/login.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <script>
    window.location.href = "{% url 'recipes:overview' %}";
  </script>
{% endif %}
  <div class="login-container">
    <h2>Login to Recipe App</h2>
    {% if error_message %}
      <p class="error">{{ error_message }}</p>
    {% endif %}
    <form method="POST" class="login-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn">Login</button>
    </form>
    <p class="hint">
         Don’t have an account? <a href="/admin/" class="admin-link">Contact admin to register</a>.
    </p>
  </div>
{% endblock %}